.report-container {
    padding: 0.9375rem;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .heading-para{
    margin: 0;
  }
  
  .filter-button {
    background-color: var(--color-primary);
    color: var(--color-light);
    padding: 0.3125rem;
    border: none;
    border-radius: 0.3125rem;
    cursor: pointer;
  }
  
  .questions-list {
    margin-top: 0.9375rem;
  }
  
  .question-card,
  .question-card2 {
    border: 0.0625rem solid var(--color-grey);
    border-radius: 0.3125rem;
    margin-bottom: 0.9375rem;
    padding: 0.9375rem;
  }
  
  .question-card:hover {
    border-left: solid 0.625rem var(--color-primary);
  }
  
  .question-card2-hover:hover {
    border-left: solid 0.625rem var(--color-primary);
    padding-left: 0.4375rem;
  }
  
  .question-header {
    background-color: var(--light-grey);
    padding: 0.625rem;
    border-radius: 0.1875rem;
  }
  
  .evidence-section {
    margin-top: 0.9375rem;
  }
  
  .evidence-icons {
    display: flex;
    gap: 0.625rem;
  }
  
  .iconList {
    cursor: pointer;
    font-size: 1.5rem;
  }
  
  .chip {
    background-color: var(--color-primary);
    color: var(--color-light);
    padding: 0.3125rem;
    border-radius: 0.1875rem;
    margin-right: 0.3125rem;
    line-height: 1.875rem;
  }
  
  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--light-opacity);
  }
  
  
  .questionTitle {
    font-size: 1rem;
  }
  
  .canvas-chart {
    height: 18.75rem;
    display: flex;
    justify-content: center;
  }
  
  .canvas-chart-hidden {
    height: 0rem !important;
    display: none !important;
    visibility: hidden !important;
  }
  
  
  .buttons-right {
    display: flex;
    justify-content: flex-end;
  }
  
  .buttons-left {
    display: flex;
    justify-content: flex-start;
  }
  
  
  .switch-buttons {
    background: none;
    border: none;
    padding: 0.625rem 1.25rem;
    font-size: 1rem;
    cursor: pointer;
    transition: border-color 0.3s;
    margin-bottom: -0.5625rem;
  }
  
  .border-bottom-button {
    border-bottom: 0.125rem solid var(--color-secondary);;
  }
  
  mat-icon {
    cursor: pointer;
  }
  
  
  .no-data{
    display: flex;
    justify-content: center;
    padding-top: 2rem;
  }
  
  
  .modal-input{
    margin-right: 0.625rem;
  }
  
  .question-content label{
    display: block;
  }
  
  .heading{
    font-size: 1.563rem;
  }
  
  .heading-two{
    font-size: 1rem;
  }
  
  .modal-input {
    accent-color: var(--color-primary);
  }
  
  .mdc-text-field--filled {
    background-color: var(--color-primary) !important;
    color: var(--color-light) !important;
  }
  
  .select-wrapper{
    display: flex;
    justify-content: end;
  }
  
  .panel-content {
    border: 0.063rem solid var(--light-grey);
    width: fit-content;
    min-width: 100%;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
    text-align: center;
    min-width: 100%;
  }
  
  .row:nth-child(odd) {
    color: var(--color-light);
    background-color: var(--color-primary);
  }
  
  .row:nth-child(even) {
    background-color: var(--light-grey);
  }
  
  .column {
    font-weight: bold;
    flex: 1 1 150px;
    padding: 0.5rem;
    min-width: 6.563rem;
    word-break: break-word;
  }

  .levelswithScores {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 150px;
    padding: 0.5rem;
    min-width: 6.563rem;
  }


.criteria {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.2rem 0;
  width: 100%;
}
.criteria span.level {
  min-width: 2rem;
  font-weight: bold;
}

  .expansion-panel{
    margin: 0.625rem;
  }
  
  .title-accordion{
    font-size: 1rem;
    word-break: break-word;
    margin: 0;     
    overflow-wrap: break-word; 
  }
  
  .no-data-found{
    margin: 1.25rem
  }
  
  
  .card {
    border: 0.063rem solid #ccc;
    padding: 0.625rem;
    margin: 1.2rem;
    transition: border-left 0.5s ease;
    border-radius: 0.25rem;
    box-shadow: 0px 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    }
    
    .matrix-item {
    padding: 0.625rem;
    }
    
    .card-content {
    margin-bottom: 0.938rem;
    }
    
    .card-list-item {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    }
    
    .answer {
    word-wrap: break-word;
    font-size: 0.875rem;
    }
    
    .matrix-title{
    margin: 1.25rem;
    }
    
    .instance-identifier{
    font-size: 1rem;
    margin: 0.625rem;
    font-weight: 600;
    color: var(--color-primary);
    }
    
    .customizeIcon{
    padding-top: 0.188rem;
    font-size: 1.125rem;
    margin-left: 0.938rem;
    }
  
  .led-imp-div{
    display: flex;
    justify-content: center;
  }
  .view-all-wrapper {
    display: flex;
    justify-content: flex-end;
    flex: 1;
  }
  
.view-all-btn {
    font-size: 0.75rem;
    padding: 0.25rem 0.75rem;
    border: 1px solid var(--color-dark);
    background-color: transparent;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
}
  
.view-all-btn:hover {
    background-color: var(--color-dark);
    color: white;
}

.level {
  font-size: 0.8rem;
  font-weight: bold;
  color:var(--color-grey);
}

.apply-filter {
  border-radius: 1.25rem;
  padding: 0.625rem 0.9375rem;
  background-color: var(--color-primary) !important;
  color: var(--color-light);
  margin: 0.3125rem;
  border-color: var(--color-secondary);
  cursor: pointer;
}

@media (max-width: 768px) {
  .column:nth-child(odd) {
    text-align: center;
  }
}
  @media (max-width: 47.9375rem) {
    .chip {
      display: block;
      margin-bottom: 0.3125rem;
    }
  }
  