@if(loaded()){
  <div class="content">
    <app-main-content [headerConfig]="headerConfig()" (searchTermChange)="onSearchChange($event)"></app-main-content>
    @if(solutionList().length){
    <div class="observation-list">
      @if(headerConfig()?.showSearch){
      <div class="select-filter">
        <mat-form-field>
          <mat-label>{{'ENTITY_FILTER' | translate}}</mat-label>
          <mat-select [ngModel]="selectedEntityType()" (ngModelChange)="changeEntityType($event)">
            @for(item of entityType();track $index){
            <mat-option [value]="item">{{ item }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
      </div>
      }
      <div class="grid-container" 
      infinite-scroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="300"
     (scrolled)="loadData()"
      >
        @for(solution of solutionList();track solution?._id || $index){
        <div class="grid-item" (click)="navigateTo(solution)">
          <mat-card class="observation-card">
            <mat-card-content>
              <div class="card-header">
                <h2 class="observation-name"><b>{{ solution?.name }}</b></h2>
                @if(headerConfig()?.surveyPage){
                  <span [ngClass]="solution?.tagClass" class="label">{{ solution?.statusLabel }}</span>
                }
                @else{
                  <span [ngClass]="solution?.tagClass" class="label" *ngIf="solution?.statusLabel == 'Not Started'">{{ solution?.statusLabel }}</span>
                }
              </div>
              @if(headerConfig()?.surveyPage){
                <div class="buttons">
                  <p>{{solution?.surveyExpiry}}</p>
                  <div class="download-wrapper">
                    <button mat-icon-button class="download-btn" (click)="downloadPop(solution, $index); $event.stopPropagation()">
                      <mat-icon [ngClass]="solution?.downloaded ? 'downloaded' : ''">
                        {{ solution?.downloaded ? 'check' : 'arrow_downward' }}
                      </mat-icon>
                    </button>
                    <p class="download-text" [ngClass]="{ 'downloaded-text': solution?.downloaded }">
                      {{ solution?.downloaded ? ('DOWNLOADED' | translate) : ('DOWNLOAD' | translate) }}
                    </p>
                  </div>
                </div>
              }@else{
              <p>{{solution?.description}}</p>
              }
            </mat-card-content>
          </mat-card>
        </div>
        }
      </div>
    </div>
    }@else{
    <app-no-data></app-no-data>
    }
  </div>
  }@else{
  <app-spinner></app-spinner>
  }