<div class="domain-list-title">
    <div>
        <h1 class="heading">{{"DOMAINS"|translate}}</h1>
    </div>
    <div class="download-wrapper" *ngIf="observationDownloaded()">
        <button mat-icon-button (click)="$event.stopPropagation()" class="download-btn">
            <mat-icon>check</mat-icon>
          </button>
          <p class="download-text">{{'DOWNLOADED'|translate}}</p>
    </div>
    <div class="download-wrapper" *ngIf="!observationDownloaded()">
        <button mat-icon-button (click)="downloadPop()" class="download-btn">
            <mat-icon>arrow_downward</mat-icon>
          </button>
          <p class="download-text">{{'DOWNLOAD'|translate}}</p>
    </div>
</div>

<div *ngIf="loaded(); else loadingTpl" class="domain-content">
  @if(evidences()?.length){
    <div class="domain-container" *ngFor="let entity of evidences(); let i = index">
      <mat-card (click)="toggleExpand(entity)" [ngClass]="{ 'restrict': entity?.notApplicable === true }" appearance="outlined" class="domain-card">
        <mat-card-header class="d-flex justify-center align-center">
          <div class="card-header">
            <h2 class="observation-name">{{ entity?.name }}</h2>
              <div class="card-right">
                <button class="not-applicable primary-btn" *ngIf="(entity?.canBeNotAllowed && !entity.progressStatus) && !entity.notApplicable" (click)="notApplicable(entity, i); $event.stopPropagation()">{{'NOT_APPLICABLE' | translate}}</button>
                <mat-icon>{{entity?.show ? 'expand_less' : 'expand_more' }}</mat-icon>
              </div>
          </div>
        </mat-card-header>
        <mat-card-content>
          <div class="btn-container">
            <div>
              @if(entity?.notApplicable){
              <p>{{ 'STATUS' | translate }}:{{"NOT_APPLICABLE" | translate}}</p>
              }@else{
              <p>{{ 'STATUS' | translate }}:
                {{ entity?.progressStatus ? (entity?.progressStatus | translate):(entity?.isSubmitted ? ('COMPLETED' | translate) : ('NOT_STARTED' | translate) ) }}
              </p>
              }
            </div>

            <div class="progress-container">
              <div class="progress-box">
                <span class="progress-text" *ngIf="!entity?.notApplicable">{{ entity?.isSubmitted ? 100 : (entity?.completePercentage || 0) }}%</span>
                  <mat-progress-bar
                    *ngIf="(entity?.isSubmitted || entity?.progressStatus === 'completed' || entity?.progressStatus === 'submitted') && !entity?.notApplicable"
                      mode="determinate"
                      value="100"
                      color="primary"
                      class="custom-progress-bar">
                  </mat-progress-bar>
                  <mat-progress-bar
                      *ngIf="(!entity?.isSubmitted && entity?.progressStatus === 'inProgress') && !entity?.notApplicable"
                        mode="determinate"
                        [value]="entity?.completePercentage || 0"
                        color="accent"
                        class="custom-progress-bar">
                    </mat-progress-bar>
                    <mat-progress-bar
                      *ngIf="!entity?.isSubmitted && (!entity?.progressStatus || entity?.progressStatus === 'notStarted') && !entity?.notApplicable"
                        mode="determinate"
                        value="0"
                        color="warn"
                        class="custom-progress-bar">
                    </mat-progress-bar>
              </div>
            </div>
          </div>
          <div *ngIf="entity?.show">
            <div *ngFor="let section of entity?.sections; let j=index">
              <mat-card  class="section-card" style="margin: 10px 0"  (click)="navigateToDetails(entity,j,i,entity?.notApplicable);$event.stopPropagation()">
                <mat-card-header class="custom-header">
                  <mat-card-title>{{section?.name}}</mat-card-title>
                </mat-card-header>
              </mat-card>
            </div>
          </div>
        </mat-card-content>
        </mat-card>
    </div>
  }@else{
    <div class="no-data-container">
      <p class="no-data-text">{{'NO_DATA_MSG' | translate}}</p>
    </div>
  }
</div>

<ng-template #loadingTpl>
<app-spinner></app-spinner>
</ng-template>

<ng-template #notApplicableModel>
  <div class="p-16 flex flex-col items-center justify-center">
    <h1 mat-dialog-title>{{"NOT_APPLICABLE" | translate}}</h1>
    <mat-dialog-content>
        <p>{{ 'ADD_REMARKS' | translate }}</p>
        <mat-form-field appearance="fill" style="width: 100%;">
          <input matInput [ngModel]="remark()" (ngModelChange)="remark.set($event)" [placeholder]="'ENTER_REMARK' | translate">
        </mat-form-field>
    </mat-dialog-content>

    <mat-dialog-actions class="mat-dialog-actions">
      <button mat-dialog-close="cancel" class="secondary-btn">{{"CANCEL"| translate}}</button>
        <button [mat-dialog-close]="'add'" class="primary-btn"
            [disabled]="!remark()" [ngClass]="{'disabled-button': !remark() }">{{"ADD" | translate}}</button>
    </mat-dialog-actions>
  </div>
</ng-template>
