<div *ngIf="loaded(); else loadingTpl">
  <mat-tab-group mat-stretch-tabs="true" [selectedIndex]="selectedTabIndex()" (selectedIndexChange)="selectedTabIndex.set($event)" class="mb-5" (selectedTabChange)="toggleTabs($event)">

    <mat-tab [label]="'IN_PROGRESS' | translate">
      <div class="observation-list">
        <div class="grid-container">
          <ng-container *ngIf="filteredObservations().length; else noDataInProgress">
            <div class="grid-item" *ngFor="let entity of filteredObservations()">
              <mat-card class="observation-card" (click)="navigateToDetails(entity)">
                <div class="card-content-container">
                  <mat-card-content class="observation-content">
                    <h2 class="observation-name">{{ entity?.title }}</h2>
                    <p>{{ 'CREATED_ON' | translate }} : {{entity?.createdAt | date:'shortDate'}}</p>
                    <p *ngIf="entity?.status == 'completed'">{{ 'SUBMITTED_ON' | translate }} : {{entity?.submissionDate | date:'shortDate'}}</p>

                  </mat-card-content>
  
                  <div class="actions-buttons" *ngIf="!entity?.isRubricDriven || allowMultipleAssessemts() == 'true'">
                    <div class="download-wrapper" [ngClass]="{ 'margin-right-spacing': (!entity?.isRubricDriven || allowMultipleAssessemts() == 'false') }" *ngIf="submissionIdSet().has(entity?._id)">
                      <button mat-icon-button (click)="$event.stopPropagation()" class="download-btn">
                        <mat-icon class="downloaded">check</mat-icon>
                      </button>
                      <p class="downloaded-text download-text">{{'DOWNLOADED' | translate}}</p>
                    </div>
                    
                    <div class="download-wrapper" *ngIf="!submissionIdSet().has(entity?._id)" [ngClass]="{ 'margin-right-spacing': (!entity?.isRubricDriven || allowMultipleAssessemts() == 'false') }">
                      <button mat-icon-button (click)="dialogMessage('downloadPop',entity); $event.stopPropagation()" class="download-btn">
                        <mat-icon>arrow_downward</mat-icon>
                      </button>
                      <p class="download-text">{{'DOWNLOAD' | translate}}</p>
                    </div>
                  <button mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.stopPropagation()">
                    <mat-icon>more_vert</mat-icon>
                  </button>
  
                  <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="editEntity(entity?.title, entity?._id)">{{'EDIT' | translate}}</button>
                    <button mat-menu-item (click)="deleteEntity(entity?._id)">{{'DELETE' | translate}}</button>
                  </mat-menu>
                  </div>
                </div>
              </mat-card>
            </div>
          </ng-container>
          <ng-template #noDataInProgress>
            <p>{{'NO_DATA_MSG' | translate}}</p>
          </ng-template>
        </div>
      </div>
    </mat-tab>
  
    <mat-tab [label]="'COMPLETED' | translate">
      <div class="observation-list">
        <div class="grid-container">
          <ng-container *ngIf="filteredObservations().length; else noDataCompleted">
            <div class="grid-item" *ngFor="let entity of filteredObservations()">
              <mat-card class="observation-card" (click)="navigateToDetails(entity)">
                <div class="card-content-container">
                  <mat-card-content class="observation-content">
                    <h2 class="observation-name">{{ entity?.title }}</h2>
                    <p>{{ 'CREATED_ON' | translate }} : {{entity?.createdAt | date:'shortDate'}}</p>
                    <p *ngIf="entity?.status == 'completed'">{{ 'SUBMITTED_ON' | translate }} : {{entity?.submissionDate | date:'shortDate'}}</p>
                  </mat-card-content>
                  <button class="secondary-btn report-btn" *ngIf="entity?.status == 'completed'" (click)="viewReport(entity)">{{'REPORTS' | translate}}</button>
                </div>
              </mat-card>
            </div>
          </ng-container>
          <ng-template #noDataCompleted>
            <p>{{'NO_DATA_MSG' | translate}}</p>
          </ng-template>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
  
  <div class="fixed-bottom-buttons">
    <button mat-raised-button (click)="dialogMessage('observeAgain')" *ngIf="allowMultipleAssessemts() == 'true' && isPendingTabSelected()">{{"OBSERVE_AGAIN" | translate}}</button>
    <button mat-raised-button color="accent" (click)="viewReport()" *ngIf="!isPendingTabSelected() && filteredObservations().length > 0">{{"VIEW_REPORT" | translate}}</button>
  </div>
</div>

<ng-template #loadingTpl>
  <app-spinner></app-spinner>
</ng-template>

<ng-template #updateDialogModel>
<h1 mat-dialog-title>{{'INSTANCE_NAME' | translate}}</h1>

<mat-dialog-content>
  <mat-form-field appearance="fill" style="width: 100%;">
    <input matInput [ngModel]="observationName()" (ngModelChange)="observationName.set($event)" [placeholder]="'ENTER_NAME_PLACEHOLDER' | translate">
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions class="mat-dialog-actions">
  <button [mat-dialog-close]="'update'" class="secondary-btn">{{'UPDATE'|translate}}</button>
  <button mat-dialog-close="cancel" class="primary-btn">{{'CANCEL'|translate}}</button>

</mat-dialog-actions>
</ng-template>

