@if(loaded()){

  <app-main-content [headerConfig]="headerConfig()" (searchTermChange)="handleEntitySearchInput($event)"></app-main-content>
  
      <div class="add-btn-container">
        <button class="add-entity-btn" (click)="openAllEntityList()" [disabled]="!observationId()" [ngClass]="{ 'disabled-button': !observationId() }">{{ 'ADD_ENTITY' | translate:{ entity: entityToAdd() } }}</button>
      </div>
    
        <div class="observation-list">
          <div class="grid-container">
            @for(entity of filteredEntitiesOne(); track entity?._id || $index) {
            <div class="grid-item">
              <mat-card class="observation-card" (click)="navigateToDetails(entity)">
                <mat-card-content class="card-content">
                  <h2 class="observation-name">{{ entity?.name }}</h2>
                  <div class="delete-container">
                    <button
                      *ngIf="entity?.submissionsCount == 0"
                      class="delete-btn"
                      color="warn"
                      (click)="deleteEntity(entity?._id); $event.stopPropagation()"
                    >
                      <mat-icon style="color: var(--color-grey);">delete</mat-icon>
                    </button>
                  </div>
                </mat-card-content>
              </mat-card>
              
          </div>
            }
        </div>
      </div>
    @if(!filteredEntitiesOne()?.length){
      <app-no-data></app-no-data>
    }
}@else{
  <app-spinner></app-spinner>
}
 
  